<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href="static/css/newstyle.css" rel="stylesheet" type="text/css"/>
    <title>GESTIMPROF- Directorio de empresas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="static/js/empresa.js"></script>
    <script src = "https://unpkg.com/sweetalert/dist/sweetalert.min.js"> </script >
    <script>
       $(document).ready(function(){
          console.log('jQUERY listo');
          $('[data-toggle="tooltip"]').tooltip();
       });
    </script>
</head>
<body>
   <div class="header">
      <h1 style="font-size:65px">GestImprof</h1>
   </div>
   <div id="enlaces" class="marcoleft">
        <ul>
            {% if logged %}
               <li><a href="/">Home</a></li>
               <li><a href="logout">Log Out ({{ nickname }})</a></li>
               <li><a href="javascript:void(0)" >About us</a></li>
            {% else %}
               <li><a href="/">Home</a></li>
               <li><a href="javascript:void(0)" onclick="about_us()">About us</a></li>
            {% endif %}
        </ul>
   </div>
   <div id="recuadro" class="marcocentro" style="width:40%">
        <h2>
          Directorio de empresas
        </h2>
        <div id="zona_izda" style="width:90%; float:left">
          <div id="las_empresas">
              <form action="empresas" method="post" name="empresas" style="width:100%" >
                 <select id="cuadro_emp" name="cuadro_emp" size="5" style="width:100%" onclick="cuadro_emp_click(this.value)" >
                     {% for valor in empresas %}
                         <option value="{{ valor }}"> {{ valor }} </option>
                     {% endfor %}
                 </select>
                 <div id="botones" style="float:right">
                       <input id="añadir" type="button"  value="+" data-toggle="tooltip" title="Añadir empresa"
                              style="font-weight:bold; border-radius:8px; position:relative; width:30px; height:30px" onclick="abrir_newEmp()">
                       <input id="eliminar" type="button"  value="x" data-toggle="tooltip" title="Eliminar empresa"
                              style="font-weight:bold; border-radius:8px; position:relative; width:30px; height:30px"
                              onclick="borrar_empresa()">
                 </div>
                       <input id="emp_selected" name="emp_selected" value="" type="hidden">
                 <div id="datosEmp"  style="background-color:#FAEBD7; width:100%; display:none" >
                      <label>
                         Datos de contacto
                      </label><br>
                      <textarea id="cuadroDatos" rows="4" cols="45" readonly >
<!--       Aquí se muestran los datos de contacto de la empresa seleccionada   -->
                      </textarea>
                 </div>
              </form>
          </div>
          <div id="activ"  style="display:none">
            <form id="actividad" style="width:100%" >
              <label for="activEmp">
                   Actividad
              </label><br>
              <textarea id="activEmp" name="activEmp" rows="7" cols="50" onclick="document.getElementById('saveActiv').disabled=false" >

              </textarea>
              <input id="saveActiv" name="saveActiv" type="submit"  data-toggle="tooltip" title="Guardar información"  value="Guardar" style="font-weight:bold;
                   border-radius:8px" onclick="save_activ()" >
            </form>
          </div>
        </div>
        <div id="zona_dcha" style="width:50%; display:inline; float:left">
              <div id="depEmp">
    <!--   Aquí se mostrará el contenido de la página Deptos.html     -->
              </div>
              <div id="delegs">
    <!--           Aquí se mostrará el contenido de la página Delegs.html     -->
              </div>
        </div>
   </div>
</body>
</html>