<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link href="static/css/newstyle.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Artifika">
    <title>
        GESTIMPROF - Informe de errores
    </title>
</head>
<body>
    <div class="header" style="background-image:url('/static/imagenes/logoheader4.jpg');height:50">
        <h1 style="font-size:48px">GestImprof</h1>
    </div>
    <div class="marcocentro">
        <div class="boxError">
            <h2>MENSAJE DE ERROR</h2>
            <form action="{{ next }}" method="get" style="width:100%; padding:2px; margin:auto">
                <label>Se ha producido el siguiente error: </label>
                <br><br>
                <label style="color:#A52A2A; font-weight:bold"> {{ error_message }} </label>
                <br><br>
                <input id="next" name="next" type="submit" value="Volver" style="float:right; margin-right:10px"/>
            </form>
        </div>
    </div>
</body>
</html>